/*Aquí llamamos la tipografía desde Google Fonts. Luego veremos cómo hacer esto con cualquier tipografía en otros repositorios*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

body {
  background-color: #caedfc;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  background-color: white;
}

#contenido {
  width: 60%;
  height: 100%;
  margin: 0;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.texto {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.contenedor-imagen {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor-imagen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
